/* Base for label styling */
.label {
    margin: 10px 0;
}

.checkbox:not(:checked),
.checkbox:checked {
    position: absolute;
    left: 0;
    opacity: 0.01;
}
.checkbox:not(:checked) + .spanClassName,
.checkbox:checked + .spanClassName {
    position: relative;
    padding-left: 2.3em;
    font-size: 1.05em;
    line-height: 1.7;
    cursor: pointer;
}

/* checkbox aspect */
.checkbox:not(:checked) + .spanClassName:before,
.checkbox:checked + .spanClassName:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #aaa;
    background: #FFF;
    border-radius: .2em;
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
    -webkit-transition: all .275s;
    transition: all .275s;
}

/* checked mark aspect */
.checkbox:not(:checked) + .spanClassName:after,
.checkbox:checked + .spanClassName:after {
    content: '✕';
    position: absolute;
    top: .525em;
    left: .18em;
    font-size: 1.375em;
    color: #CB22ED;
    line-height: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}

/* checked mark aspect changes */
.checkbox:not(:checked) + .spanClassName:after {
    opacity: 0;
    -webkit-transform: scale(0) rotate(45deg);
    transform: scale(0) rotate(45deg);
}

.checkbox:checked + .spanClassName:after {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
}

/* Disabled checkbox */
.checkbox:disabled:not(:checked) + .spanClassName:before,
.checkbox:disabled:checked + .spanClassName:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #e9e9e9;
}

.checkbox:disabled:checked + .spanClassName:after {
    color: #777;
}

.checkbox:disabled + .spanClassName {
    color: #aaa;
}

/* Accessibility */
.checkbox:checked:focus + .spanClassName:before,
.checkbox:not(:checked):focus + .spanClassName:before {
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
}