.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav .item {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: .5px;
  word-wrap: break-word;
}

.item:hover {
  color: #3f50b5;
}

.nav .active {
  color: #3f50b5;
}